{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
    {% block layout %}

        <div class="{{ particle.class|e }} g-owlcarousel-accordionslider g-owlcarousel-accordionslider-{{ particle.displayitems }}-items">
            {% if particle.title or particle.description %}
                <div class="g-grid">
                    <div class="g-block">
                        <div class="g-content g-owlcarousel-header">
                            {% if particle.title %}<h2 class="g-title">{{ particle.title }}</h2>{% endif %}
                            {% if particle.description %}<div class="g-owlcarousel-description">{{ particle.description|html|raw }}</div>{% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="g-owlcarousel-accordionslider-header">
                <div id="g-owlcarousel-accordionslider-controls"></div>
                {% if particle.accordionTitle %}<div class="g-owlcarousel-accordionslider-title">{{ particle.accordionTitle|raw }}</div>{% endif %}
                {% if particle.accordionSubtitle %}<div class="g-owlcarousel-accordionslider-subtitle">{{ particle.accordionSubtitle|raw }}</div>{% endif %}
            </div>

            <div id="g-owlcarousel-{{ id }}" data-owlcarousel-id="g-owlcarousel-{{ id }}" class="g-owlcarousel owl-carousel">

                {% for row in particle.items|batch(particle.displayitems) %}
                    <div class="item">
                        {% for item in row  %}
                            <div class="g-owlcarousel-item">
                                {% if item.title %}
                                    <h4 class="g-owlcarousel-item-title padding">
                                        {{ item.title|html|raw }}
                                        <span class="indicator"><span>+</span></span>
                                    </h4>
                                {% endif %}

                                {% if item.image or item.desc or item.link %}
                                    <div class="g-owlcarousel-content">
                                        {% if item.image %}
                                            <img src="{{ url(item.image)|e }}" class="g-owlcarousel-item-image" alt="{{ item.title|e }}" />
                                        {% endif %}

                                        {% if item.desc %}
                                            <div class="g-owlcarousel-item-desc">
                                                {% if item.desc %}<p>{{ item.desc|html|raw }}</p>{% endif %}
                                            </div>
                                        {% endif %}

                                        {% if item.link %}
                                            <a target="{{ item.buttontarget|default('_self')|e }}" class="g-owlcarousel-item-button readon" href="{{ item.link|e }}">
                                                <span>{{ item.linktext|html|raw|default('Read More') }}</span>
                                            </a>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}

            </div>
        </div>

    {% endblock %}
{% endblock %}

{% block javascript_footer %}
    {% do gantry.load('jquery') %}
    <script src="{{ url('gantry-theme://js/juihelper.js') }}"></script>
    <script src="{{ url('gantry-theme://js/owlcarousel.js') }}"></script>
    <script type="text/javascript">
    jQuery(window).load(function() {
        var owl{{ id|replace({'-':'_'}) }} = jQuery('#g-owlcarousel-{{ id }}');
        owl{{ id|replace({'-':'_'}) }}.owlCarousel({
            items: 1,
            rtl: {% if gantry.page.direction == 'rtl' %}true{% else %}false{% endif %},
            {% if particle.nav == 'enabled' %}
            nav: true,
            navText: ['{{ particle.prevText|default('&larr;')|e('js') }}', '{{ particle.nextText|default('&rarr;')|e('js') }}'],
            navContainer: '#g-owlcarousel-accordionslider-controls',
            {% else %}
            nav: false,
            {% endif %}
            dots: false,
            {% if particle.loop == 'enabled' %}
            loop: true,
            {% else %}
            loop: false,
            {% endif %}
            {% if particle.autoplay == 'enabled' %}
            autoplay: true,
            autoplayTimeout: {{ particle.autoplaySpeed|default('5000') }},
            {% if particle.pauseOnHover == 'enabled' %}
            autoplayHoverPause: true,
            {% else %}
            autoplayHoverPause: false,
            {% endif %}
            {% else %}
            autoplay: false,
            {% endif %}
        })
    });

    jQuery(window).load(function() {
        jQuery("#g-owlcarousel-{{ id }}").accordion({
            heightStyle: "content",
            header: ".g-owlcarousel-item-title",
            collapsible: true,
            active: {{ particle.displayitems * 2 }},
        })
    });
    </script>
{% endblock %}
